<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HorizonEllo</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>horizonello</h1>
        <a href="/">
            <button>View Lists</button>
        </a>
    </header>

    <div id="body-container">
        {{{ body }}}
    </div>

    <footer>
        <span>Made with &#x2764;</span>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
